# --------------------------------------------------
# Ignore Large Data Files (WELFake Datasets)
# --------------------------------------------------

*.csv


# --------------------------------------------------
# Python & Environment Cache
# --------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# --------------------------------------------------
# Jupyter Notebook & VS Code Settings
# --------------------------------------------------
.ipynb_checkpoints/
.vscode/

# --------------------------------------------------
# Model Files (Optional: Ignore heavy weights if >100MB)
# --------------------------------------------------
# *.h5
# *.keras