# --------------------------------------------------
# Ignore Large Data Files & Datasets
# --------------------------------------------------
data/
*.csv
*.zip

# --------------------------------------------------
# Python & Environment Cache
# --------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/
ENV/
env/

# --------------------------------------------------
# Jupyter Notebook & VS Code Settings
# --------------------------------------------------
.ipynb_checkpoints/
.vscode/

data/